<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew.servicedemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".AndrewIndexActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Dialog"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
     
        <activity
            android:name=".activity1normal"
            android:label="Normal" >
        </activity>        
        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".activity2bind"
            android:label="Service" >
        </activity>  
        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name=".activity3thread"
            android:label="Thread" >
        </activity>        
        
        <service android:name=".services.Service1Normal"/> 
        <service android:name=".services.Service2Bind"/> 
        <service android:name=".services.Service3Thread"/> 
        <service android:name=".services.Service3ThreadIntent"/>
    </application>

</manifest>
